

<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        {{title}}
      </ion-title>
      <ion-button slot="end" (click)="openMenu()">
        <ion-icon slot="icon-only" name="apps-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>

    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="6" size-lg="5" size-xl="3">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                {{name}}
              </ion-card-title>
              <ion-card-subtitle>
                {{job}}
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-img
              [src]="profilePicture">
            </ion-img>
            <ion-list>
              <ion-item lines="none">
                <ion-label>
                    Nothing travels faster than the speed of light with the possible exception of bad news, which obeys
                    its own special laws.
                    <p>
                      Douglas Adams, The Hitchhiker's Guide to the Galaxy
                    </p>
                </ion-label>
                <!-- <ion-note slot="end">
                  Douglas Adams, The Hitchhiker's Guide to the Galaxy
                </ion-note> -->
              </ion-item>
            </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col  size="12" size-md="12" size-lg="6" size-xl="4">         
          <ion-card>
           <ion-card-header>
             <ion-card-title>
               Skills
             </ion-card-title>
           </ion-card-header>
           <ion-card-content>
             <ion-list>
               <ion-item>
                 <ion-label>
                   <h2>Programming Languages</h2>
                   <p> JavaScript, TypeScript, Python, Go</p>
                 </ion-label>
               </ion-item>
               <ion-item>
                 <ion-label>
                   <h2>Frameworks and Libraries</h2>
                   <p> Node, Angular, Express, GraphQL, RxJs, Jest, GraphQL</p>
                 </ion-label>
               </ion-item>
               <ion-item>
                 <ion-label>
                   <h2>Cloud</h2>
                   <p>AWS(Textract, SageMaker, EC2, lambda, SQS), GCP/Firebase (Cloud Run, Compute), Azure</p>
                 </ion-label>
               </ion-item>
               <ion-item>
                 <ion-label>
                   <h2>Tools</h2>
                   <p> Git, Docker, Kubernetes, Jenkins, GitHub Actions</p>
                 </ion-label>
               </ion-item>
               <ion-item>
                 <ion-label>
                   <h2>Other</h2>
                   <p>EDI Standards (277, 835, 837), ElasticSearch, Stripe, Jira, Confluence</p>
                 </ion-label>
               </ion-item>
             </ion-list>
           </ion-card-content>
         </ion-card>
       </ion-col>
        <ion-col  size="12" size-md="6" size-lg="4" size-xl="3">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                Code stuff
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-list-header>
                  <ion-label>
                    <h2>Public repos</h2>
                  </ion-label>
                </ion-list-header>
                <ion-item *ngFor="let repo of (repos | async)" type="button" detail="true" href="{{repo?.html_url}}"
                target="blank">
                <ion-label class="ion-text-wrap">
                  <p>{{repo?.name}}</p>
                  <ion-text>
                    {{repo?.description}}
                  </ion-text>
                </ion-label>
              </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col  size="12" size-md="6" size-lg="4" size-xl="3">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                Not code stuff
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item type="button" detail="true" href="{{linkedInLink}}"
                target="blank">
                  <ion-label>
                    <h2>LinkedIn</h2>
                  </ion-label>
              </ion-item>
              <ion-item type="button" detail="true" href="{{resumeLink}}" target="blank">
                <ion-label>
                  <h2>Resume</h2>
                </ion-label>
              </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  
</ion-content>
